<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

	<head>
	    <title>Log in</title>
	    <div th:replace="/fragments/styling :: head-style" ></div>
	</head>
	
	<body>
		<div th:replace="fragments/navbar"></div>
	    <div class="container"> 
		        <h2>Tweets</h2>
		       <div class="list-group" th:each="tweet:${tweetList}">
		       	<div class="list-group-item list-group-item-action">
		         <div class="d-flex w-100 justify-content-between">  
			        <h5 class="mb-1">
				     	<a class="username" th:href="@{/users/} + ${tweet.user.username}" >
				         	@<span th:text="${tweet.user.username}"></span>
				      	</a>
		            	<small><span th:text="${#dates.format(tweet.createdAt, 'M/d/yy')}"></span></small>
				      </h5>
			      </div>
						<p class="mb-1" th:utext="${tweet.message}"></p>
	             </div>
	    		</div>
	  		</div>
	   
	    
	    
	   
	   	<div th:replace="/fragments/styling :: body-links" ></div>
	</body>

</html>